<!-- Validation failure messages -->
<% if @event.errors.any? %>
<% @event.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Edit Event #<%= @event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_event/<%= @event.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @event.name %>">
      </div>

      <!-- Label and input for creator_id -->
      <div class="form-group">
        <label for="creator_id" class="control-label">
          Creator
        </label>

        <input type="text" id="creator_id" name="creator_id" placeholder="Creator" class="form-control" value="<%= @event.creator_id %>">
      </div>

      <!-- Label and input for start_time -->
      <div class="form-group">
        <label for="start_time" class="control-label">
          Start time
        </label>

        <div class="form-group">
          <div class='input-group date' id='datetimepicker1'>
            <input type='text'  id="start_time" name="start_time" placeholder="<%= @event.start_time %>" class="form-control" value="<%= @event.start_time %>">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>

            <script type="text/javascript">
            $(function () {
              $('#datetimepicker1').datetimepicker({format: 'MM/DD/YYYY hh:mm:ss'});});
              </script>
            </div>
          </div>

          <!-- Label and input for end_time -->
          <div class="form-group">
            <label for="end_time" class="control-label">
              End time
            </label>

            <div class="form-group">
              <div class='input-group date' id='datetimepicker2'>
                <input type='text'  id="end_time" name="end_time" placeholder="<%= @event.end_time %>" class="form-control" value="<%= @event.end_time %>">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
            <script type="text/javascript">
            $(function () {
              $('#datetimepicker2').datetimepicker({format: 'MM/DD/YYYY hh:mm:ss'});});
              </script>
            </div>

            <!-- Label and input for location -->
            <div class="form-group">
              <label for="location" class="control-label">
                Location
              </label>

              <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @event.location %>">
            </div>

            <!-- Label and input for location_address -->
            <div class="form-group">
              <label for="location_address" class="control-label">
                Location address
              </label>

              <input type="text" id="location_address" name="location_address" placeholder="Location address" class="form-control" value="<%= @event.location_address %>">
            </div>

            <button class="btn btn-warning">
              Update Event
            </button>
            or
            <a href="/events/<%= @event.id %>">Cancel</a>
          </form>
        </div>
      </div>
