<!-- Validation failure messages -->
<% if @contact.errors.any? %>
  <% @contact.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Contact #<%= @contact.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_contact/<%= @contact.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for contact_name -->
      <div class="form-group">
        <label for="contact_name" class="control-label">
          Contact name
        </label>

        <input type="text" id="contact_name" name="contact_name" placeholder="Contact name" class="form-control" value="<%= @contact.contact_name %>">
      </div>

      <!-- Label and input for contact_email -->
      <div class="form-group">
        <label for="contact_email" class="control-label">
          Contact email
        </label>

        <input type="text" id="contact_email" name="contact_email" placeholder="Contact email" class="form-control" value="<%= @contact.contact_email %>">
      </div>

      <!-- Label and input for contact_photo -->
      <div class="form-group">
        <label for="contact_photo" class="control-label">
          Contact photo
        </label>

        <input type="text" id="contact_photo" name="contact_photo" placeholder="Contact photo" class="form-control" value="<%= @contact.contact_photo %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @contact.user_id %>">
      </div>

      <button class="btn btn-warning">
        Update Contact
      </button>
      or
      <a href="/contacts/<%= @contact.id %>">Cancel</a>
    </form>
  </div>
</div>
