<div class="page-header">
  <h3>Contact #<%= @contact.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Contact name</dt>
      <dd><%= @contact.contact_name %></dd>

      <dt>Contact email</dt>
      <dd><%= @contact.contact_email %></dd>

      <dt>Contact photo</dt>
      <dd><%= @contact.contact_photo %></dd>

      <dt>User</dt>
      <dd><%= @contact.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/contacts" class="btn btn-primary">
        Back
      </a>
      <a href="/contacts/<%= @contact.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_contact/<%= @contact.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
