<!-- Validation failure messages -->
<% if @calendar_entry.errors.any? %>
  <% @calendar_entry.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Calendar Entry #<%= @calendar_entry.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_calendar_entry/<%= @calendar_entry.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @calendar_entry.user_id %>">
      </div>

      <!-- Label and input for event_id -->
      <div class="form-group">
        <label for="event_id" class="control-label">
          Event
        </label>

        <input type="text" id="event_id" name="event_id" placeholder="Event" class="form-control" value="<%= @calendar_entry.event_id %>">
      </div>

      <!-- Label and input for start_time -->
      <div class="form-group">
        <label for="start_time" class="control-label">
          Start time
        </label>

        <input type="text" id="start_time" name="start_time" placeholder="Start time" class="form-control" value="<%= @calendar_entry.start_time %>">
      </div>

      <!-- Label and input for end_time -->
      <div class="form-group">
        <label for="end_time" class="control-label">
          End time
        </label>

        <input type="text" id="end_time" name="end_time" placeholder="End time" class="form-control" value="<%= @calendar_entry.end_time %>">
      </div>

      <button class="btn btn-warning">
        Update Calendar Entry
      </button>
      or
      <a href="/calendar_entries/<%= @calendar_entry.id %>">Cancel</a>
    </form>
  </div>
</div>
