<div class="page-header">
  <h3>Calendar Entry #<%= @calendar_entry.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @calendar_entry.user_id %></dd>

      <dt>Event</dt>
      <dd><%= @calendar_entry.event_id %></dd>

      <dt>Start time</dt>
      <dd><%= @calendar_entry.start_time %></dd>

      <dt>End time</dt>
      <dd><%= @calendar_entry.end_time %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/calendar_entries" class="btn btn-primary">
        Back
      </a>
      <a href="/calendar_entries/<%= @calendar_entry.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_calendar_entry/<%= @calendar_entry.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
